body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #77F2FF;
  height: 100vh; 
  width: 100%;
  display: block;
  align-items: center;
}

.LimitBreak {
  display: flex;
  justify-content: center; 
  align-items: center;     
  min-height: 100vh;       
  flex-direction: column;  
  text-align: center;     
}

h1 {
  font-size: 40pt;
  color: #FF8658;
  margin-bottom: 10px;
}

p {
  font-size: 1.2rem;
  margin-bottom: 20px;
  color: #4B7CCC;
}

/* Form styling */
.Fear {
  margin-bottom: 30px;
}

.TheUserFear {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.FEAR {
  width: 300px;
  padding: 10px;
  border: 2px solid #0077cc;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 1rem;
}

.EnterFearbtn {
  background-color: #FF8658;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.EnterFearbtn:hover {
  background-color: #005fa3;
}

table {
  width: 100%;
  max-width: 500px;
  margin-top: 20px;
}

th, td {
  border: 3px solid #FF8658;
  text-align: center;
  padding: 10px;
  background-color: white;
}

th {
  background-color: #FF8658;
  color: white;
}
