body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #91B7D9;
  height: 100vh; 
  width: 100%;
  display: block;
  align-items: center;
}

.LimitBreak {
  display: flex;
  justify-content: center; 
  align-items: center;     
  min-height: 100vh;       
  flex-direction: column;  
  text-align: center;     
}

h1 {
  font-size: 70pt;
  color: #163A59;
  margin-bottom: 10px;
  background-color:#F39B6D;
  border-radius: 10px;
  padding: 40pt 70pt;
  font-family: Impact;
  border: 10px solid;
}

p {
  font-size: 1.2rem;
  margin-bottom: 20px;
  color: #F39B6D;
  background-color: #163A59;
  padding: 20pt 48pt;
  border-radius: 10px;

}

.start{
  padding: 10pt 40pt; 
  color:#163A59;
  background-color: white;
  border: 5px solid #FF8658;
}

.start:hover{
  border: 5px solid #163A59;
}


.Fear {
  margin-bottom: 30px;
}

.TheUserFear {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.FEAR {
  width: 300px;
  padding: 10px;
  border: 2px solid #0077cc;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 1rem;
}

.EnterFearbtn {
  padding: 10pt 40pt; 
  color:#163A59;
  background-color: white;
  border: 5px solid #FF8658;
}

.EnterFearbtn:hover {
  border: 5px solid #163A59;
}

table {
  width: 100%;
  max-width: 500px;
  margin-top: 20px;
  
}

th, td {
  border: 3px solid #D9C9BA; 
  text-align: center;
  padding: 10px;
  background-color: white;
}

th {
  background-color: #D9C9BA; 
  color: rgb(0, 0, 0);
}



.reset{
  background-color:#005fa3; 
  color: white;
  margin-top: 20px; 
  margin-right: 10px;
}

.create-steps{
  background-color:#000000; 
  color: white;
  margin-top: 20px; 
}